.about-morgan-container {
    font-family: 'Titillium Web', sans-serif;
	margin-bottom: 10px;
    float: left;
    margin-top: 50px;
	margin-left: 50px;
    /* This is not an ideal solution, but whatever. */
    width: Calc(100vw - 550px);
    height: fit-content;
    min-width: 500px;
    max-width: 1000px;
}